aiofiles==23.1.0
aiohttp==3.8.4
aiosignal==1.3.1
appdirs==1.4.4
arsenic==21.8
async-generator==1.10
async-timeout==4.0.2
asyncio==3.4.3
asynctest==0.13.0
attrs==22.2.0
av==10.0.0
backcall==0.2.0
beautifulsoup4==4.12.2
blinker==1.6.1
Brotli==1.0.9
bs4==0.0.1
cached-property==1.5.2
certifi==2022.12.7
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.1.0
click==8.1.3
cryptography==40.0.1
cssselect==1.2.0
cycler==0.11.0
debugpy==1.6.7
decorator==5.1.1
entrypoints==0.4
et-xmlfile==1.1.0
exceptiongroup==1.1.1
fake-useragent==1.1.3
fonttools==4.38.0
frozenlist==1.3.3
h11==0.14.0
h2==4.1.0
hls-get==0.1.0
hpack==4.0.0
hyperframe==6.0.1
idna==3.4
importlib-metadata==4.13.0
importlib-resources==5.12.0
ipykernel==6.16.2
ipython==7.34.0
iso8601==1.1.0
jedi==0.18.2
jupyter_client==7.4.9
jupyter_core==4.12.0
kaitaistruct==0.10
kiwisolver==1.4.4
lxml==4.9.2
m3u8==3.4.0
m3u8downloader==0.10.1
matplotlib==3.5.3
matplotlib-inline==0.1.6
multidict==6.0.4
nest-asyncio==1.5.6
numpy==1.21.6
openpyxl==3.1.2
outcome==1.2.0
packaging==23.0
pandas==1.3.5
parse==1.19.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.5.0
progress==1.6
prompt-toolkit==3.0.38
psutil==5.9.4
ptyprocess==0.7.0
pyasn1==0.4.8
pycparser==2.21
pycryptodome==3.17
pyee==8.2.2
Pygments==2.14.0
Pympler==1.0.1
pyOpenSSL==23.1.1
pyparsing==3.0.9
pyppeteer==1.0.2
pyquery==2.0.0
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==0.21.1
pytz==2023.3
pyzmq==25.0.2
requests==2.28.2
requests-html==0.10.0
seaborn==0.12.2
selenium==4.8.3
selenium-wire==5.1.0
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4
structlog==20.2.0
tenacity==8.2.2
tornado==6.2
tqdm==4.65.0
traitlets==5.9.0
trio==0.22.0
trio-websocket==0.10.2
typing_extensions==4.5.0
urllib3==1.26.15
w3lib==2.1.1
wcwidth==0.2.6
webdriver-manager==3.8.5
websockets==10.4
wells==1.5.0
wrapt==1.15.0
wsproto==1.2.0
xlrd==2.0.1
xlwt==1.3.0
yarl==1.8.2
zipp==3.15.0
zstandard==0.20.0
